body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

#_rank-image {
    max-width: 500px;
    max-height: 500px;
    min-height: 500px;
    width: auto;
    height: auto;
}

#_completed-tasks-count {
    letter-spacing: 0.2em;
    font-size: 3em;
}

._letter-spacing-02 {
    letter-spacing: 0.2em;
}