/* FLAT UI PALETTE - CANADIAN */

/* https://flatuicolors.com/palette/ca */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: #c8d6e5;
}

input {
    text-align: center;
}

#_rank-image {
    max-width: 500px;
    min-width: 250px;
    max-height: 500px;
    min-height: auto;
    width: auto;
    height: auto;
}

#_completed-tasks-count {
    letter-spacing: 0.2em;
    font-size: 3em;
}

._letter-spacing-02 {
    letter-spacing: 0.2em;
}

._main-box {
    padding: 20px;
}

._tier-stripe {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(255, 230, 5);
}

._img-eagle {
    max-height: 34px;
    max-width: auto;
}

._edit-input {
    width: 60px;
}

#_top_header {
    padding: 20px;
    background-color: #0d1722;
    color: white;
}

#_image-container {
    background-color: #c8d6e5;
    padding-top: 2em;
    padding-bottom: 2em;
}

#_edit_fields_container {
    color: #0d1722;
    /* background-color: #2e86de; */
    border: 1px solid #0d1722;
    border-radius: 2px;
    box-shadow: #0d1722 0px 0px 1px;
    transition: all 100ms;
}

#_edit_fields_container:hover {
    box-shadow: #0d1722 0px 0px 10px;
}

/* COLOR PALETTE */

._bg-pink1 {
    background-color: #ff9ff3;
}

._bg-pink2 {
    background-color: #f368e0;
}

._bg-yellow1 {
    background-color: #feca57;
}

._bg-yellow2 {
    background-color: #ff9f43;
}

._bg-red1 {
    background-color: #ff6b6b;
}

._bg-red2 {
    background-color: #ee5253;
}

._bg-lightblue1 {
    background-color: #48dbfb;
}

._bg-lightblue2 {
    background-color: #0abde3;
}

._bg-green1 {
    background-color: #1dd1a1;
}

._bg-green2 {
    background-color: #10ac84;
}

._bg-azure1 {
    background-color: #00d2d3;
}

._bg-azure2 {
    background-color: #01a3a4;
}

._bg-blue1 {
    background-color: #54a0ff;
}

._bg-blue2 {
    background-color: #2e86de;
}

._bg-purple1 {
    background-color: #5f27cd;
}

._bg-purple2 {
    background-color: #341f97;
}

._bg-grey1 {
    background-color: #c8d6e5
}

._bg-grey2 {
    background-color: #8395a7
}

._bg-grey3 {
    background-color: #576574;
}

._bg-grey4 {
    background-color: #222f3e;
}